anthropic
art
backoff
click
coverage[toml]
datasets
gradio
gradio-client
gymnasium
h5py
jsonref
numpy==1.26.4
openai
opencv-python
pillow
pydantic
pydantic-numpy==5.0.2
pytest
pytest-asyncio
pytest-mock
toml
torch
transformers
xarm-python-sdk
